<!--**********************************
            Sidebar start
        ***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="nav-text" href="./app-profile">Profile</a>
            </li>
            <li>
                <a class="nav-text" href="./home">Dashboard</a>
            </li>

            <li>
                <a class="nav-text" href="./notes-main">Notes</a>
            </li>

            <li>
                <a class="nav-text" href="./news">News</a>
            </li>

            <li>
                <a class="nav-text" href="./coin-details">Coin Details</a>
            </li>
            <li>
                <a class="nav-text" href="./portfolio">Portfolio</a>
            </li>
            <li>
                <a class="nav-text" href="./market-capital">Market Capital</a>
            </li>
        </ul>

    </div>
</div>
<!--**********************************
        Sidebar end
    ***********************************-->