<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Cryptoking is Professional Creative Template" />
	<!-- SITE TITLE -->
	<title>iPortfolio</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/logo60.png">
	<!-- Latest Bootstrap min CSS -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="assets/css/ionicons.min.css">
	<!--- owl carousel CSS-->
	<link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
	<!-- Color CSS -->
	<link rel="stylesheet" href="assets/color/theme.css">
</head>

<body data-spy="scroll" data-offset="110">
	<!-- LOADER -->
	<div class="preloader">
		<div id="g-spinner" class="loading">
			<div class="circle c1"></div>
			<div class="circle c2"></div>
			<div class="circle c3"></div>
			<div class="circle c4"></div>
		</div>
	</div>
	<!-- END LOADER -->

	<!-- START HEADER -->
	<header class="header_wrap fixed-top">
		<div class="container">
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand page-scroll" href="#home">
					<img class="logo_light" src="assets/images/logo.png" alt="logo" height="50" />
					<img class="logo_dark" src="assets/images/logo_dark.png" alt="logo" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation"> <span class="ion-android-menu"></span> </button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li><a class="nav-link page-scroll" href="#how_it_work">How it Works</a></li>
						<li><a class="nav-link page-scroll" href="#about">About</a></li>
						<li><a class="nav-link page-scroll" href="#token">Token</a></li>
						<li><a class="nav-link page-scroll" href="#road_map">Road Map</a></li>
						<li><a class="nav-link page-scroll" href="#team">Team</a></li>
						<li><a class="nav-link page-scroll" href="#faq">FAQ</a></li>
						<li><a class="nav-link page-scroll" href="#contact">Contact</a></li>
					</ul>
					<ul class="navbar-nav nav_btn">
						<li><a class="btn btn-default" href="/login">Login</a></li>

					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- START HEADER -->

	<!-- START SECTION BANNER -->
	<section id="home" class="banner_section section_gradiant">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-12 col-sm-12 order-lg-first text_md_center">
					<div class="banner_text">
						<h1>Welcome to <span>iPortfolio</span> </h1>
						<h3>Start tracking your portfolio today!</h3>
						<p>Use our platform for a tracking experience like no other.</p>
						<div class="banner_btn">
							<a href="/login" class="btn btn-default page-scroll nav-link">Login <i
									class="ion-ios-arrow-thin-right"></i></a>
							<a href="/login" class="btn btn-border">Sign up <i class="ion-ios-arrow-thin-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 order-first">
					<div class="banner_image_right res_md_mb_50 res_xs_mb_30">
						<img src="assets/images/banner_vector.png" alt="banner_vector" />
					</div>
				</div>
			</div>
		</div>
		<div class="section_wave" style="background-image:url('assets/images/banner_wave.png');"></div>
	</section>
	<!-- END SECTION BANNER -->

	<!-- START SECTION HOW IT WORK -->
	<section id="how_it_work" class="how_work" data-parallax="scroll" data-image-src="assets/images/how_it_work_bg.png">

		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<div class="title_dark">
						<h2>How it Works</h2>
						<p>Use our platform to track your portfolio in a one stop solution to all your needs.
							Simply Enter in a transaction you make and we will track your total assets using
							APIs which monitor the stock and crypto markets.
						</p>
					</div>
					<a href="https://youtu.be/dQw4w9WgXcQ" class="btn btn-default page-scroll">Explanation <i
							class="ion-ios-arrow-thin-right"></i></a>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-12">
					<div class="work_box">
						<div class="box_inner"> <i class="ion-person-add"></i>
							<h4>News</h4>
							<p>Connect to the latest news about your investments in a news page specifically curated
								for you. Make notes on your thoughts in our notes page to trace any ideas you have
								had.
							</p>
						</div>
					</div>
					<div class="work_box">
						<div class="box_inner"> <i class="ion-ios-locked"></i>
							<h4>Safe & Secure</h4>
							<p>We take careful measures to ensure that your assets are as safe as possible. Offline
								storage provides an important security measure against theft or loss. </p>
						</div>
					</div>
					<div class="work_box">
						<div class="box_inner"> <i class="ion-android-cart"></i>
							<h4>Track your assets</h4>
							<p>We provide you with curated data and resources about your assets while also
								giving you graphical representations on fluctuations of the market. We will ensure
								you know your worth!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="shape shap1"></div>
	</section>
	<!-- END SECTION HOW IT WORK -->

	<!-- START SECTION ABOUT US -->
	<section id="about" class="section_gradiant">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="res_sm_mb_30">
						<img src="assets/images/about_img.png" alt="aboutimg" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="title_light">
						<span>What is iPortfolio</span>
						<h2>About iPortfolio</h2>
						<p>A portfolio is a digital tracking tool to maintain tabs on your assets. iPortfolio
							allows you to hold your assets in a single place, track your thoughts via notes and
							trace the current total of your assets. We also allow you to grow your assets by providing
							the latest news on our news page curated based on your assets.</p>
						<p>Essentially, iPortfolio allows you to track your assets and provide a holistic
							environment to grow them.
						</p>
					</div>
					<a href="https://www.youtube.com/embed/dQw4w9WgXcQ" class="btn btn-default video"><span
							class="ion-play"></span>Let's Start <i class="ion-ios-arrow-thin-right"></i></a>
				</div>
			</div>

		</div>
		<div class="rounded_shape rounded_shape1"></div>
		<div class="rounded_shape rounded_shape2"></div>
	</section>
	<!-- END SECTION ABOUT US -->

	<!-- START SECTION TOKEN -->
	<section id="token" class="section_token">
		<div class="container">

			<div class="divider large_divider"></div>
			<div class="row text-center">
				<div class="col-md-12">
					<div class="title_dark">
						<h2>Crypto Distribution</h2>
					</div>
				</div>
			</div>
			<div class="row align-items-center res_md_mt_20">
				<div class="col-md-7">
					<div class="res_sm_mb_30 text-center">
						<img src="assets/images/sale-proceeds.png" alt="sale-proceeds" />
					</div>
				</div>
				<div class="col-md-5">
					<ul class="list_none chart_list">
						<li class="color1">Bitcoin</li>
						<li class="color2">Ethereum</li>
						<li class="color3">Shiba Inu</li>
						<li class="color4">Solano</li>
						<li class="color5">Doge Coin</li>
					</ul>
				</div>
			</div>
			<div class="divider large_divider"></div>
			<div class="row text-center">
				<div class="col-md-12">
					<div class="title_dark">
						<h2>Stocks Distribution</h2>
					</div>
				</div>
			</div>
			<div class="row align-items-center flex-row-reverse res_md_mt_20">
				<div class="col-md-7">
					<div class="res_sm_mb_30 text-center">
						<img src="assets/images/token-distribution.png" alt="token-distribution" />
					</div>
				</div>
				<div class="col-md-5">
					<ul class="list_none chart_list">
						<li class="color4">Netflix</li>
						<li class="color6">Amazon</li>
						<li class="color7">Facebook</li>
						<li class="color3">Apple</li>
						<li class="color2">Infosys</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="shape shap1"></div>
		<div class="shape shap2"></div>
	</section>
	<!-- END SECTION TOKEN -->

	<!-- START SECTION TIMELINE & MOBILE APP -->
	<section id="road_map" class="section_gradiant2">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-8 col-md-12 offset-lg-2">
					<div class="title_light">
						<span>Road Map</span>
						<h2>iPortfolio Timeline</h2>
						<p>We have made an in depth plan for the division of work amongst the four of us. It includes
							specific details distributed into the components of the project from front end development
							up to features on the site. Based on this work division, we also have a proposed timeline
							for the project.
						</p>
					</div>
				</div>
			</div>
			<div class="roadmap owl-carousel small_space">
				<div class="item">
					<div class="roadmap_box rd_complete">
						<div class="roadmap_inner">
							<div class="roadmap_icon icon_gradient_box"></div>
							<h6>19th January 2022</h6>
							<p>Finalised Topic</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="roadmap_box rd_complete">
						<div class="roadmap_inner">
							<div class="roadmap_icon icon_gradient_box"></div>
							<h6>22nd January 2022</h6>
							<p>Created Survey</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="roadmap_box rd_complete">
						<div class="roadmap_inner">
							<div class="roadmap_icon icon_gradient_box"></div>
							<h6>26th January 2022</h6>
							<p>Finished Hi-Fi Prototyping</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="roadmap_box rd_complete">
						<div class="roadmap_inner">
							<div class="roadmap_icon icon_gradient_box"></div>
							<h6>28th January 2022</h6>
							<p>Interviewed Stakeholders</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="roadmap_box rd_complete">
						<div class="roadmap_inner">
							<div class="roadmap_icon icon_gradient_box"></div>
							<h6>31st January 2022</h6>
							<p>REVIEW 1</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="roadmap_box rd_complete">
						<div class="roadmap_inner">
							<div class="roadmap_icon icon_gradient_box"></div>
							<h6>2nd February 2022</h6>
							<p>Started Frontend and Backend Development</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="roadmap_box rd_complete">
						<div class="roadmap_inner">
							<div class="roadmap_icon icon_gradient_box"></div>
							<h6>14th April 2022</h6>
							<p>80% Implementation</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="roadmap_box">
						<div class="roadmap_inner">
							<div class="roadmap_icon icon_gradient_box"></div>
							<h6>16th April 2022</h6>
							<p>REVIEW 2</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="roadmap_box">
						<div class="roadmap_inner">
							<div class="roadmap_icon icon_gradient_box"></div>
							<h6>23rd April 2022</h6>
							<p>Finished Implementation</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="roadmap_box">
						<div class="roadmap_inner">
							<div class="roadmap_icon icon_gradient_box"></div>
							<h6>25th April 2022</h6>
							<p>Final Documentation and REVIEW 3</p>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div style="background-image:url('assets/images/wave.png');" class="section_wave2"></div>
	</section>
	<!-- END SECTION TIMELINE & MOBILE APP -->

	<!-- START SECTION TEAM -->
	<section id="team" class="team_wrap" data-parallax="scroll" data-image-src="assets/images/team_bg.png">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-8 col-md-12 offset-lg-2">
					<div class="title_dark">
						<span>Our Core Team</span>
						<h2>Professional Experts</h2>
					</div>
				</div>
			</div>
			<div class="row small_space">
				<div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30">
					<div class="team_box">
						<div class="team_img text-center">
							<img src="assets/images/user_img-lg.jpg" alt="user_img" />
							<div class="social_team list_none">
								<ul>
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
									<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team_info gradient_box text-center">
							<h4><a href="#team1" class="content-popup">Kaushik S P</a></h4>
							<p>Director</p>
						</div>
						<div id="team1" class="team_pop mfp-hide">
							<div class="row m-0">
								<div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="assets/images/user_img-lg.jpg"
										alt="user_img-lg" /> </div>
								<div class="col-md-6">
									<div class="pt-3 pb-3">
										<div class="title_dark"> <span>Director</span>
											<h2>Kaushik S P</h2>
										</div>
										<div class="social_single_team list_none">
											<ul>
												<li><a href="#"><i class="ion-social-facebook"></i></a></li>
												<li><a href="#"><i class="ion-social-twitter"></i></a></li>
												<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
												<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
											</ul>
										</div>
										<p>Kaushik S P works in web development, specifically backend development. He helped make 
											the news page, login and sign up pages on this site and connect APIs to the backend.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30">
					<div class="team_box">
						<div class="team_img text-center">
							<img src="assets/images/user_img-lg3.jpg" alt="user_img" />
							<div class="social_team list_none">
								<ul>
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
									<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team_info gradient_box text-center">
							<h4><a href="#team2" class="content-popup">Avyay M C</a></h4>
							<p>Project Manager</p>
						</div>
						<div id="team2" class="team_pop mfp-hide">
							<div class="row m-0">
								<div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="assets/images/user_img-lg3.jpg"
										alt="user_img-lg" /> </div>
								<div class="col-md-6">
									<div class="pt-3 pb-3">
										<div class="title_dark"> <span>Project Manager</span>
											<h2>Avyay M C</h2>
										</div>
										<div class="social_single_team list_none">
											<ul>
												<li><a href="#"><i class="ion-social-facebook"></i></a></li>
												<li><a href="#"><i class="ion-social-twitter"></i></a></li>
												<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
												<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
											</ul>
										</div>
										<p>Avyay worked on making the landing page functional. He also added functionalities to the
											news page by allowing it to take specific queries.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 res_xs_mb_30">
					<div class="team_box">
						<div class="team_img text-center">
							<img src="assets/images/user_img-lg1.jpg" alt="user_img" />
							<div class="social_team list_none">
								<ul>
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
									<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team_info gradient_box text-center">
							<h4><a href="#team3" class="content-popup">Harikrishnan Nair</a></h4>
							<p>Programmer</p>
						</div>
						<div id="team3" class="team_pop mfp-hide">
							<div class="row m-0">
								<div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="assets/images/user_img-lg1.jpg"
										alt="user_img-lg" /> </div>
								<div class="col-md-6">
									<div class="pt-3 pb-3">
										<div class="title_dark"> <span>Programmer</span>
											<h2>Harikrishnan Nair</h2>
										</div>
										<div class="social_single_team list_none">
											<ul>
												<li><a href="#"><i class="ion-social-facebook"></i></a></li>
												<li><a href="#"><i class="ion-social-twitter"></i></a></li>
												<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
												<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
											</ul>
										</div>
										<p>Hari worked with making the notes page and market capital pages. He connected 
											the necessarry APIs for the same.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="team_box">
						<div class="team_img text-center">
							<img src="assets/images/user_img-lg2.jpg" alt="user_img" />
							<div class="social_team list_none">
								<ul>
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
									<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team_info gradient_box text-center">
							<h4><a href="#team4" class="content-popup">Shivansh Yashasvi</a></h4>
							<p>Market Analysis</p>
						</div>
						<div id="team4" class="team_pop mfp-hide">
							<div class="row m-0">
								<div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="assets/images/user_img-lg2.jpg"
										alt="user_img-lg" /> </div>
								<div class="col-md-6">
									<div class="pt-3 pb-3">
										<div class="title_dark"> <span>Market Analysis</span>
											<h2>Shivansh Yashasvi</h2>
										</div>
										<div class="social_single_team list_none">
											<ul>
												<li><a href="#"><i class="ion-social-facebook"></i></a></li>
												<li><a href="#"><i class="ion-social-twitter"></i></a></li>
												<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
												<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
											</ul>
										</div>
										<p>Shivansh worked on designing a lot of the components (mostly navbar and sidebar) and made the profile page.
											He also linked the users with their specific pages and worked on coin detail.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="faq">
				<div class="divider large_divider"></div>
				<div class="row text-center">
					<div class="col-lg-8 col-md-12 offset-lg-2">
						<div class="title_dark">
							<span>FAQs</span>
							<h2>Frequently Asked Questions</h2>
							<p>Frequently asked questions (FAQ) or Questions and Answers (Q&A), are listed questions and
								answers, all supposed to be commonly asked in some context</p>
						</div>
					</div>
				</div>
				<div class="row small_space">
					<div class="col-lg-8 col-md-12 offset-lg-2">
						<div id="accordion" class="faq_content">
							<div class="card">
								<div class="card-header" id="headingOne">
									<h6 class="mb-0"> <a data-toggle="collapse" class="gradient_box" href="#collapseOne"
											aria-expanded="true" aria-controls="collapseOne">What is cryptocurrency?</a>
									</h6>
								</div>
								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
									data-parent="#accordion">
									<div class="card-body gradient_box"> Cryptocurrency is a form of payment that can be
										exchanged online for goods and services. Many companies have issued their own
										currencies, often called tokens, and these can be traded specifically for the
										good or service that the company provides. Think of them as you would arcade
										tokens or casino chips. You'll need to exchange real currency for the
										cryptocurrency to access the good or service. </div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingTwo">
									<h6 class="mb-0"> <a class="collapsed gradient_box" data-toggle="collapse"
											href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Which
											cryptocurrency is best to buy today?</a> </h6>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
									data-parent="#accordion">
									<div class="card-body gradient_box"> The best cryptocurrency to buy is one we are
										willing to hold onto even if it goes down. For example, I believe in Steem
										enough that I am willing to hold it even if it goes down 99% and would start
										buying more of it if the price dropped. </div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingThree">
									<h6 class="mb-0"> <a class="collapsed gradient_box" data-toggle="collapse"
											href="#collapseThree" aria-expanded="false"
											aria-controls="collapseThree">How about day trading crypto?</a> </h6>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
									data-parent="#accordion">
									<div class="card-body gradient_box"> While profits are possible trading
										cryptocurrencies, so are losses. My first year involved me spending hundreds of
										hours trading Bitcoin with a result of losing over $5,000 with nothing to show
										for it. Simply trading digital currencies is very similar to gambling because no
										one really knows what is going to happen next although anyone can guess! While I
										was lucky to do nothing expect lose money when I started, the worst thing that
										can happen is to get lucky right away and get a big ego about what an amazing
										cryptocurrency trader we are. </div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingFour">
									<h6 class="mb-0"> <a class="collapsed gradient_box" data-toggle="collapse"
											href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">When
											to sell a cryptocurrency?</a> </h6>
								</div>
								<div id="collapseFour" class="collapse" aria-labelledby="headingFour"
									data-parent="#accordion">
									<div class="card-body gradient_box"> Before Steem I was all in an another altcoin
										and really excited about it. When I first bought the price was low and made
										payments to me every week just for holding it. As I tried to participate in the
										community over the next several months, I was consistently met with a mix of
										excitement and hostility. When I began talking openly about this, the negative
										emotions won over in the community and in me. Originally I had invested and been
										happy to hold no matter what the price which quickly went up after I bought it.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="shape shap1"></div>
		<div class="shape shap2"></div>
	</section>
	<!-- END SECTION TEAM -->

	<!-- START SECTION WHITEPAPER & CONTACT -->
	<section id="whitepaper" class="section_gradiant">
		<div class="container">

			<div id="contact">
				<div class="divider large_divider"></div>
				<div class="row text-center">
					<div class="col-md-12">
						<div class="title_light">
							<span>Contact Us</span>
							<h2>Get in touch!</h2>
						</div>
					</div>
				</div>
				<div class="divider small_divider"></div>
				<div class="row">
					<div class="col-md-7 col-lg-6 offset-lg-1">
						<form method="post" name="enq" class="form_field">
							<div class="row">
								<div class="form-group col-md-6">
									<input type="text" required="required" placeholder="Enter Name *" id="first-name"
										class="form-control" name="name">
								</div>
								<div class="form-group col-md-6">
									<input type="email" required="required" placeholder="Enter Email *" id="email"
										class="form-control" name="email">
								</div>
								<div class="form-group col-md-12">
									<input type="text" required="required" placeholder="Enter Subject" id="subject"
										class="form-control" name="subject">
								</div>
								<div class="form-group col-md-12">
									<textarea required="required" placeholder="Message *" id="description"
										class="form-control" name="message" rows="2"></textarea>
								</div>
								<div class="col-md-12 text-center">
									<button type="submit" title="Submit Your Message!" class="btn btn-default"
										id="submitButton" name="submit" value="Submit">Submit <i
											class="ion-ios-arrow-thin-right"></i></button>
								</div>
								<div class="col-md-12">
									<div id="alert-msg" class="alert-msg text-center"></div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-5 col-md-5 res_sm_mt_30">
						<ul class="list_none contact_info mt-margin">
							<li class="input-group-prepend align-items-center">
								<i class="ion-ios-location"></i>
								<div class="contact_detail">
									<span>Address</span>
									<p>VIT Vellore</p>
								</div>
							</li>
							<li class="input-group-prepend align-items-center">
								<i class="ion-android-call"></i>
								<div class="contact_detail">
									<span>Phone</span>
									<p>+91 8073924618</p>
								</div>
							</li>
							<li class="input-group-prepend align-items-center">
								<i class="ion-ios-email"></i>
								<div class="contact_detail">
									<span>Email</span>
									<p>avyaymc@gmail.com</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="rounded_shape rounded_shape1"></div>
		<div class="rounded_shape rounded_shape2"></div>
	</section>
	<!-- START SECTION WHITEPAPER & CONTACT -->

	<!-- START CLIENTS SECTION -->


	<!-- END CLIENTS SECTION -->

	<!-- START FOOTER SECTION -->

	<!-- END FOOTER SECTION -->

	<a href="#" class="scrollup btn-default" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

	<!-- Latest jQuery -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>
	<!-- Latest compiled and minified Bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- owl-carousel min js  -->
	<script src="assets/owlcarousel/js/owl.carousel.min.js"></script>
	<!-- magnific-popup min js  -->
	<script src="assets/js/magnific-popup.min.js"></script>
	<!-- waypoints min js  -->
	<script src="assets/js/waypoints.min.js"></script>
	<!-- parallax js  -->
	<script src="assets/js/parallax.js"></script>
	<!-- countdown js  -->
	<script src="assets/js/jquery.countdown.min.js"></script>
	<!-- particles min js  -->
	<script src="assets/js/particles.min.js"></script>
	<!-- scripts js -->
	<script src="assets/js/scripts.js"></script>

</body>

</html>